.news-container{
    background-color: #444;
    margin: 8px 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px; 
    color: #eee;   
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons-container{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.content-container{
    color: #eee;
    display: flex;
    flex-wrap: wrap;
}

.content-container p{
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    max-width: 100%;
}

.publication-date-container{
    color: #eee;
}

.remove-news-button{
    background-color: #444;
    border: none;
    font-size: 16px;
    color: chartreuse;
}